<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="regionMapper">

    <resultMap id="regionResultMap" type="com.github.theresajayne.tranquility.model.beans.RegionVO">
        <result property="regionID" column="REGION_ID"/>
        <result property="name" column="REGION_NAME"/>
        <association property="constellationVO" javaType="com.github.theresajayne.tranquility.model.beans.ConstellationVO">
            <result property="constellationID" column="CONSTELLATION_ID"/>
            <result property="name" column="CONSTELLATION_NAME"/>
        </association>
    </resultMap>

    <select id="selectAll" resultMap="regionResultMap">
        SELECT
            R.REGION_ID,
            R.REGION_NAME,
            C.CONSTELLATION_ID,
            C.CONSTELLATION_NAME
        FROM
          TRANQUILITY.REGION R
          INNER JOIN TRANQUILITY.CONSTELLATION C ON R.CONSTELLATION_ID = C.CONSTELLATION_ID
    </select>

    <insert id="insertRegion" parameterType="com.github.theresajayne.tranquility.model.beans.RegionVO">
       INSERT INTO
       TRANQUILITY.REGION
       (
          REGION_ID,
          REGION_NAME,
          UNIVERSE_ID
       )
       VALUES
       (
          #{regionID, jdbcType=VARCHAR},
          #{name, jdbcType=VARCHAR},
          #{universeVO.universeID, jdbcType=VARCHAR}
       )
   </insert>
</mapper>