<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="regionMapper">

    <resultMap id="regionResultMap" type="com.github.theresajayne.tranquility.model.beans.RegionVO">
        <result property="regionID" column="REGION_ID"/>
        <result property="regionName" column="REGION_NAME"/>
        <association property="universeVO" javaType="com.github.theresajayne.tranquility.model.beans.UniverseVO">
            <result property="universeID" column="UNIVERSE_ID"/>
            <result property="universeName" column="UNIVERSE_NAME"/>
        </association>
    </resultMap>

    <select id="selectAll" resultMap="regionResultMap">
        SELECT
            R.REGION_ID,
            R.REGION_NAME,
            U.UNIVERSE_ID,
            U.UNIVERSE_NAME
        FROM
          TRANQUILITY.REGION R
          INNER JOIN TRANQUILITY.UNIVERSE U ON R.UNIVERSE_ID = U.UNIVERSE_ID
    </select>

    <select id="selectByID" resultMap="regionResultMap" parameterType="java.lang.Long">
        SELECT
            R.REGION_ID,
            R.REGION_NAME,
            U.UNIVERSE_ID,
            U.UNIVERSE_NAME
        FROM
          TRANQUILITY.REGION R
          INNER JOIN TRANQUILITY.UNIVERSE U ON R.UNIVERSE_ID = U.UNIVERSE_ID
        WHERE
          R.REGION_ID = #{regionID,jdbcType=VARCHAR}
    </select>

    <select id="selectByName" resultMap="regionResultMap" parameterType="java.lang.String">
        SELECT
            R.REGION_ID,
            R.REGION_NAME,
            U.UNIVERSE_ID,
            U.UNIVERSE_NAME
        FROM
          TRANQUILITY.REGION R
          INNER JOIN TRANQUILITY.UNIVERSE U ON R.UNIVERSE_ID = U.UNIVERSE_ID
        WHERE
          R.REGION_NAME = #{regionName,jdbcType=VARCHAR}
    </select>

    <insert id="insertRegion" parameterType="com.github.theresajayne.tranquility.model.beans.RegionVO">
       INSERT INTO
       TRANQUILITY.REGION
       (
          REGION_ID,
          REGION_NAME,
          UNIVERSE_ID
       )
       VALUES
       (
          #{regionID, jdbcType=VARCHAR},
          #{regionName, jdbcType=VARCHAR},
          #{universeVO.universeID, jdbcType=VARCHAR}
       )
   </insert>

    <update id="updateRegion" parameterType="com.github.theresajayne.tranquility.model.beans.RegionVO">
       UPDATE TRANQUILITY.REGION
       SET REGION_ID = #{regionID, jdbcType=VARCHAR},
          REGION_NAME = #{regionName, jdbcType=VARCHAR},
          UNIVERSE_ID = #{universeVO.universeID, jdbcType=VARCHAR}
       WHERE
       REGION_ID = #{regionID, jdbcType=VARCHAR}
    </update>
</mapper>