<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="universeMapper">

    <resultMap id="universeResultMap" type="com.github.theresajayne.tranquility.model.beans.UniverseVO">
        <result property="universeID" column="UNIVERSE_ID"/>
        <result property="universeName" column="UNIVERSE_NAME"/>
    </resultMap>

    <select id="selectAll" resultMap="universeResultMap">
        SELECT
            UNIVERSE_ID,
            UNIVERSE_NAME
        FROM
          TRANQUILITY.UNIVERSE
    </select>

    <select id="selectAllByID" resultMap="universeResultMap" parameterType="java.lang.Long">
        SELECT
            UNIVERSE_ID,
            UNIVERSE_NAME
        FROM
          TRANQUILITY.UNIVERSE
       WHERE
          UNIVERSE_NAME = #{universeID, jdbcType=VARCHAR}
    </select>

    <select id="selectAllByName" resultMap="universeResultMap" parameterType="java.lang.String">
        SELECT
            UNIVERSE_ID,
            UNIVERSE_NAME
        FROM
          TRANQUILITY.UNIVERSE
       WHERE
          UNIVERSE_NAME = #{universeName, jdbcType=VARCHAR}
    </select>

   <insert id="saveUniverse" parameterType="com.github.theresajayne.tranquility.model.beans.UniverseVO">
       INSERT INTO
       TRANQUILITY.UNIVERSE
       (
          UNIVERSE_ID,
          UNIVERSE_NAME
       )
       VALUES
       (
          #{universeID, jdbcType=VARCHAR},
          #{universeName, jdbcType=VARCHAR}
       )
   </insert>
</mapper>